table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
}

td {
	text-align: left;
	padding: 10px;
	border: 0px solid black;
}

h1 {
	text-align: center;
}

.container {
	border-radius: 5px;
	background-color: #40e0d0;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

div.div1 {
	align: left;
	float: left;
}

div.div2 {
	align: right;
	float: right;
}