input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
	width: 70%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit]:hover {
	background-color: #99ccff;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid black;
}

td {
	text-align: left;
	padding: 10px;
	border: 0px solid black;
}

H3 {
	text-align: center;
}

.container {
	border-radius: 5px;
	background-color: #afeeee;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

div.div2 {
	align: right;
	float: right;
}